{% extends "musicapp/base.html" %} {%block content%}

<div class ="row justify-content-center">
    <div>
        <img src="https://www.pngkey.com/png/full/147-1473883_404-error-404-not-found-png.png" style = "max-width: 100%">
        <div>
            <div style = "margin-top: 2em"><h3>No se ha encontrado ningun resultado </h3></div>
            <div class ="row justify-content-center" style = "margin-top: 2em">
                <a href={% url 'callback' %}>

                    <button class = "btn btn-secondary">
                        Volver
                    </button>
                </a>
            </div>
        </div>
    </div>
</div>
{% endblock %}
