{% extends "musicapp/base.html" %} {%block content%}
<div class = "row" id = "content" style = "overflow:hidden;">
    <div class = "row" style = "max-height:50%">
        <div class = "col-md-4" style = "max-height:100%">
            <img src = {{ imagen }} style = "max-height:100%">
        </div>
        <div class = "col">
            <div class = "row" > <h5>PODCAST</h5> {{idioma}}
            </div>
            <div class = "row" >
                <h1>{{nombre}}</h1>
            <div class = "col-sm-3 align-self-center ">
                {% if is_added %}
                    <a class="btn" href="{% url 'remove_show'%}">
                        <i class="bi bi-star-fill"></i>
                    </a>
                {% else %}
                    <a class="btn" href="{% url 'add_show'%}">
                        <i class="bi bi-star"></i>
                    </a>
                {% endif %}
                </div>
            </div>
        <div class = "row" > <h5>{{ autor }}</h5>
        </div>
        <div class = "row" style = "max-height:48%;overflow:auto;"> <p>{{ descripcion }}</p>
        </div>
        </div>
    </div>
    <div class = "row" style = "max-height:50%;margin-top:2%;">
        <div class = "row" style = "max-height:90%;width:100%">
        <div class = "d-flex" style = "width: 100%">
            <div class="p-2"><h3>Numero de Episodios : {{ Nepisodios }}</h3></div>
            <div class="ml-auto p-2">
                <form action={% url 'show' %} method="post" id="systemForm">
                    {% csrf_token %}
                    <select id="comboType" name= "comboOrd"  list="typesList">
                        <datalist id="typesList">
                            <option hidden selected value="">Ordenar por</option>
                            <option value="">Numero</option>
                            <option value="Duracion">Duracion</option>
                            <option value="Fecha">Fecha</option>
                        </datalist>
                    <select id="comboType" name= "nombre"  value={{ Nombre }}>
                    <button type="submit" class = "button">
                        <i class="bi bi-sort-up-alt"></i>
                    </button>
                </form>
            </div>
        </div>

            <div class = "row" style = "max-height:100%;overflow:hidden">
            <div class = "dataframe">
                {{episodios|safe }}
            </div>
            </div>
        </div>
    </div>
</div>


<div class = "row justify-content-center" >
    {% if si %}
    <form action={% url 'show' %} method="post">
        {% csrf_token %}
        <button type="submit" value="2"  name="systemForm2" class = "btn">
            <i class="bi bi-arrow-left-circle-fill"></i>
        </button>
    </form>
    {% endif %}
    <form action={% url 'show' %} method="post">
        {% csrf_token %}
        <button type="submit" value="1"  name="systemForm" class = "btn">
            <i class="bi bi-arrow-right-circle-fill"></i>
        </button>
    </form>
</div>


{% endblock %}
